seriesByTag(%s)[1m]
seriesByTag(%s)[10m]
seriesByTag(%s)[30m]
seriesByTag(%s)[1h]
seriesByTag(%s)[3h]
seriesByTag(%s)[24h]
seriesByTag(%s)[168h]
seriesByTag(%s)[672h]
seriesByTag(%s)[1m10s]
seriesByTag(%s)[15m]
seriesByTag(%s)[10m15s]
seriesByTag(%s)[15m]
seriesByTag(%s)[17m]
seriesByTag(%s)[30m]
seriesByTag(%s)[40m]
seriesByTag(%s)[2h]
seriesByTag(%s)[1h10m]
seriesByTag(%s)[1h15m]
sumSeries(seriesByTag(%s))[1h]
sortByTotal(seriesByTag(%s))[30m]
